.bootstrap-tagsinput {
	width: 100%;
}

.tag {
	margin: 3px;
	cursor: pointer;
}

.toastr-link {
  font-weight: bold;
}

/* ------------ */
/* Graphs begin */
/* ------------ */

/* Line */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Bar */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}


/* ---------- */
/* Graphs end */
/* ---------- */