<template name="Home">
  <div class="container">
    <h1>Home</h1>
    <h3>Tasks</h3>
    <ol class="tasks">
        <li>Add total for month</li>
        <li>Add graph of total for month</li>
        <li>Graph should be for month, ticks should be per day and values should be total for days</li>
        <li>Add last few expenses</li>
        <li>Add incomes as a switch when adding a new expense</li>
        <li>Add recurring expenses/incomes</li>
    </ol>
    <div class="graph"></div>
  </div>
</template>